body {
    font-family: 'Poppins', sans-serif;
}

.card {
    box-shadow: 0 7px 17px -8px rgb(0 0 0 / 80%);
    transition: all 0.17s ease-in-out;
    color: #151515;
    font-size: 16px;
}

.card:hover {
    transform: translate3d(0, -2%, 0);
}

.card:hover a {
    color: #feca1b !important;
}

.pokemon-type {
    display: inline-block;
    line-height: 100%;
    padding: 0.5em 0;
    width: 10%;
    border-radius: 5px;
    margin: 0.5em 0.3em 0 0;
    text-align: center;
    color: #ffffff;
    border: 2px solid #a4a4a4;
}

.poison-type {
    background: linear-gradient(180deg, #b97fc9 50%, #b97fc9 50%);
    background-color: #b97fc9;
    color: #212121;
}

.fire-type {
    background: linear-gradient(180deg, #fd7d24 50%, #fd7d24 50%);
    background-color: #fd7d24;
    color: #212121;
}

.psychic-type {
    background: linear-gradient(180deg, #f366b9 50%, #f366b9 50%);
    background-color: #f366b9;
    color: #212121;
}

.ice-type {
    background: linear-gradient(180deg, #51c4e7 50%, #51c4e7 50%);
    background-color: #51c4e7;
    color: #212121;
}

.bug-type {
    background: linear-gradient(180deg, #729f3f 50%, #729f3f 50%);
    background-color: #729f3f;
    color: #212121;
}

.rock-type {
    background: linear-gradient(180deg, #a38c21 50%, #a38c21 50%);
    background-color: #a38c21;
    color: #212121;
}

.fairy-type {
    background: linear-gradient(180deg, #fdb9e9 50%, #fdb9e9 50%);
    background-color: #fdb9e9;
    color: #212121;
}

.water-type {
    background: linear-gradient(180deg, #4592c4 50%, #4592c4 50%);
    background-color: #4592c4;
    color: #212121;
}

.steel-type {
    background: linear-gradient(180deg, #9eb7b8 50%, #9eb7b8 50%);
    background-color: #9eb7b8;
    color: #212121;
}

.normal-type {
    background: linear-gradient(180deg, #a4acaf 50%, #a4acaf 50%);
    background-color: #a4acaf;
    color: #212121;
}

.ghost-type {
    background: linear-gradient(180deg, #7b62a3 50%, #7b62a3 50%);
    background-color: #7b62a3;
    color: #fff;
}

.dark-type {
    background: linear-gradient(180deg, #707070 50%, #707070 50%);
    background-color: #707070;
    color: #fff;
}

.grass-type {
    background: linear-gradient(180deg, #9bcc50 50%, #9bcc50 50%);
    background-color: #9bcc50;
    color: #212121;
}

.electric-type {
    background: linear-gradient(180deg, #eed535 50%, #eed535 50%);
    background-color: #eed535;
    color: #212121;
}

.ground-type {
    background: linear-gradient(180deg, #f7de3f 50%, #ab9842 50%);
    background-color: #f7de3f;
    color: #212121;
}

.flying-type {
    background: linear-gradient(180deg, #3dc7ef 50%, #bdb9b8 50%);
    background-color: #3dc7ef;
    color: #212121;
}

.dragon-type {
    background: linear-gradient(180deg, #53a4cf 50%, #f16e57 50%);
    background-color: #53a4cf;
    color: #212121;
}

.fighting-type {
    background: linear-gradient(180deg, #d56723 50%, #d56723 50%);
    background-color: #d56723;
    color: #000;
}

.pokemon-input-group {
    padding-left: 25%;
}

.pokemon-form-control {
    max-width: 50%;
}
