.card {
    box-shadow: 0 7px 17px -8px rgb(0 0 0 / 80%);
    transition: all 0.17s ease-in-out;
    color: #151515;
    font-size: 16px;
}

.card:hover {
    transform: translate3d(0, -2%, 0);
    color: #e62429 !important;
}

.main-image {
    filter: brightness(60%);
    width: 100%;
}

.main-text {
    color: #949494;
    position: absolute;
    top: 10%;
    height: 100%;
}

.main-wrapper {
    position: relative;
    text-align: center;
}

.main-title {
    font-size: 44px;
}

.side-text {
    font-size: 18px;
    padding-right: 25%;
    padding-left: 25%;
    color: #767676;
}

.Mui-selected {
    background-color: #e62429 !important;
}

.btn-marvel {
    color: #fff;
    background-color: #e62429;
    border-color: #e62429;
}

.btn-marvel:focus {
    color: #fff;
    background-color: #e62429;
    border-color: #e624297d;
    box-shadow: 0 0 0 0.25rem rgb(230 36 41 / 33%);
}

.btn-marvel:hover {
    background-color: #e62429;
    border-color: #e624297d;
}

.marvel-form-control:focus {
    border-color: #e624297d;
    box-shadow: 0 0 0 0.25rem rgb(230 36 41 / 33%);
}

.marvel-form-control {
    text-transform: uppercase;
    font-weight: 500;
    max-width: 60%;
}

.marvel-input-group {
    padding-left: 25%;
}

.marvel-black-background {
    background-color: #151515;
}

.marvel-link {
    color: #fff;
    text-decoration: none;
}

.marvel-link:hover {
    color: #e62429;
    text-decoration: underline;
}
